body {
    margin: 20px;
    font-family: Garamond bold;
    background-color: darkgrey;
}

h3:hover, p:hover, h4:hover {
    background-color: lightblue;
}

.avatar {
    width: 150px;
    border-radius: 10px;
    box-shadow: 2.5px 2.5px #219ebc;
}

.card {
    width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #caf0f8;
    color: #2b2839;
    border-bottom: 3.5px solid #219ebc;
    border-right: 10px solid #219ebc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px #023047;
}

.border-blue {
    border: 1px dotted blue;
}

.skills {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 9px;
    letter-spacing: 1px;
    line-height: 0px;
    font-weight: bold;
}

.FD {
    font-size: 17px;
}

@keyframes example{
    0% {color: #48bfe3;}
    25% {color: #4ea8de}
    50% {color: #ef476f}
    100% {color: #669bbc}
}
.anim {
    animation-name: example;
    animation-duration: 4s;
}

.btn {
    padding: 5px 10px;
    border: none;
    background-color: #219ebc;
    color: #caf0f8;
    border-radius: 8px;
    cursor: pointer;
    
    
}

